<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


    <!--
     为springmvc的相关bean实例配置，如配置：
     1）配置视图解析器：
        视图-> /WEB-INF/jsp/视图名.jsp
     -->



</beans>